---
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import arthurPicture from "../../assets/arthur.jpg";
---

<Layout
    title="Arthur Rodolfo"
    description="The personal site of Arthur Rodolfo">
    <section
        class="mb-6 flex flex-col gap-6 lg:flex-row lg:items-center lg:justify-center"
        aria-label="Arthur Rodolfo's presentation">
        <div class="flex flex-col gap-2">
            <h1 class="text-center text-3xl font-bold lg:text-6xl">
                <div class="inline-flex">
                    <Icon
                        class="mr-4 w-6 animate-wave lg:w-10"
                        name="twemoji:waving-hand"
                    /> Howdy!
                </div>
                <br />
                 My name is Arthur Rodolfo
            </h1>
            <h2
                class="items-center text-center text-slate-600 dark:text-slate-400 lg:text-xl">
                I'm a Software Engineer from Brazil <Icon
                    name="twemoji:flag-for-brazil"
                    class="inline-block h-4 w-4"
                /> who is currently based in Vancouver <Icon
                    name="twemoji:flag-for-canada"
                    class="inline-block h-4 w-4"
                />
            </h2>
        </div>

        <Image
            class:list="mx-auto aspect-auto h-1/2 w-1/2 rounded-2xl shadow-md shadow-indigo-200 dark:shadow-indigo-900 lg:mx-0 lg:h-1/4 lg:w-1/4"
            src={arthurPicture}
            alt="Arthur Rodolfo's picture"
        />
    </section>

    <section class="flex flex-col gap-6 text-justify">
        <p>
            Welcome to my corner of the internet! I'm absolutely delighted to
            have you exploring my website. I'm quite the eclectic soul, blending
            my deep-seated passion for gaming with my fervor for programming,
            all rooted in my background in Engineering.

            <p>
                Gaming has been an integral part of my life for as long as I can
                remember. My introduction to the gaming world came through my
                father during my formative years, sparking an enduring
                fascination. Whether I'm slaying dragons in fantastical realms,
                engaging in esports competitions, or immersing myself in the
                latest virtual reality experiences, the realm of gaming has
                always been a source of exhilaration and boundless exploration.
            </p>

            <p>
                My journey into the tech world started unexpectedly while I was
                pursuing a degree in Control and Automation Engineering. While I
                initially envisioned a future working with robots and intricate
                automation systems, a remarkable epiphany occurred during my
                university days – I fell head over heels in love with
                programming. The art of crafting software capable of
                orchestrating and automating complex systems revealed an
                entirely new world of possibilities.
            </p>

            <p>
                Today, I proudly wear the hat of a Software Engineer, blending
                the precision and control ingrained in my engineering background
                with the creative ingenuity kindled by my gaming experiences.
                I've had the privilege of transforming ideas into dynamic
                websites, mobile applications, and a plethora of other digital
                innovations.
            </p>

            <p>
                What truly fuels my passion is the thrill of exploration. The
                tech world is a vast, sprawling universe, teeming with diverse
                languages, frameworks, and tools. I relish the exhilaration of
                acquiring new skills and taking on challenging projects, be it
                in the realms of machine learning, web development, or
                cybersecurity.
            </p>

            <p>
                Thank you for dropping by, and I hope you enjoy your journey
                through my digital realm! Feel free to reach out for a lively
                chat about tech, gaming, or anything that sparks your curiosity.
            </p>
        </p>
    </section>
</Layout>
