---
import Layout from "../layouts/Layout.astro";
import ExperienceTile from "../components/ExperienceTile.astro";
import ExperienceTileMobile from "../components/ExperienceTileMobile.astro";
import Link from "../components/Link.astro";
import OpenInNewTabIcon from "../components/OpenInNewTabIcon.astro";

const experiences = [
    {
        role: "Software Engineer",
        company: "Hubly",
        companyUrl: "https://www.myhubly.com/",
        description:
            "In my inaugural international experience, I've been actively engaged in a dynamic project involving React and Django. Throughout this journey, I've successfully contributed to the introduction of captivating new features, particularly in the realm of conditional logic and dynamic forms, alongside the creation of a versatile template marketplace library. Assuming a leadership role, I've taken on the responsibilities of conducting code reviews, orchestrating essential scrum ceremonies, and fostering seamless collaboration with cross-functional teams, including product and customer support. Furthermore, my focus also lies in empowering the team to not only fulfill these responsibilities effectively but also thrive in their execution.",
        from: "July 2022",
        to: "Present",
        skills: [
            "React",
            "Django",
            "GraphQL",
            "Python",
            "JavaScript",
            "AWS RDS",
            "AWS Cognito",
            "AWS Lambda",
        ],
    },
    {
        role: "Software Engineer",
        company: "BTG Pactual",
        companyUrl: "https://www.btgpactual.com/us/",
        description:
            "I spearheaded the development of an internal software tool designed for monitoring financial transactions, taking a leading role in a comprehensive UI/UX redesign. In addition, I successfully implemented a real-time traceability system integrated with AWS SQS (Simple Queue Service) and AWS SNS (Simple Notification Service), enhancing our system's efficiency and responsiveness. My technical prowess extended to both the frontend and backend, as I skillfully utilized Angular to deliver an intuitive user interface and harnessed the power of .NET for robust backend support.",
        from: "Jan 2022",
        to: "July 2022",
        skills: [
            "Angular",
            ".NET",
            "TypeScript",
            "AWS SQS",
            "AWS SNS",
            "AWS Lambda",
        ],
    },
    {
        role: "Software Engineer",
        company: "DTI Digital",
        companyUrl: "https://www.dtidigital.com.br/en",
        description:
            "I actively contributed to the development of a Whitelabel e-commerce website for Brazil's largest wholesale company, assuming a comprehensive full-stack role. During this tenure, I advanced to a leadership position where I took charge of frontend team code reviews and played an integral role in overseeing scrum ceremonies. On the frontend, I leveraged the power of React to craft dynamic and engaging user interfaces, while on the backend, I orchestrated the server-side magic with NestJS, ensuring a seamless end-to-end experience for users and clients alike",
        from: "July 2021",
        to: "Jan 2022",
        skills: ["React", "TypeScript", "PostgreSQL", "NestJS"],
    },
    {
        role: "Software Engineer",
        company: "Vallourec",
        companyUrl: "https://www.vallourec.com/",
        description:
            "As the sole individual responsible for overseeing a critical production site traceability system, I played a pivotal role in its maintenance and enhancement. Collaborating closely with on-site teams, I actively contributed to the design and implementation of innovative features. Additionally, I actively participated in rigorous large-scale tests, which involved handling thousands of tubes, further fortifying my skills. Building upon the foundation I established during my internship, I expanded my technical repertoire to include proficiency in .NET systems, Windows Forms, and PostgreSQL, enabling me to deliver robust solutions and elevate the performance of the traceability system.",
        from: "Jan 2021",
        to: "July 2021",
        skills: ["C#", ".NET", "PostgreSQL"],
    },
    {
        role: "Software Engineer Intern",
        company: "Vallourec",
        companyUrl: "https://www.vallourec.com/",
        description:
            "I acquired valuable hands-on software experience during my inaugural role, where I had the opportunity to collaborate on legacy traceability systems. In this capacity, I was responsible for the full software development lifecycle, encompassing the development, maintenance, and successful deployment of production code using C# and Windows Forms.",
        from: "Feb 2020",
        to: "Jan 2021",
        skills: ["C#", ".NET", "PostgreSQL"],
    },
];
---

<Layout
    title="Experience | Arthur Rodolfo"
    description="The personal site of Arthur Rodolfo">
    <section id="experience" aria-label="Work experience">
        <ol class="group/list flex flex-col gap-6 lg:mx-auto lg:w-3/4">
            {
                experiences.map((experience, idx) => {
                    return (
                        <>
                            <li class="lg:hidden">
                                <ExperienceTileMobile {...experience} />
                            </li>
                            <li class="hidden lg:list-item">
                                <ExperienceTile
                                    {...experience}
                                    showLine={idx < experiences.length - 1}
                                />
                            </li>
                        </>
                    );
                })
            }
        </ol>

        <Link
            classes="text-xs mt-6 lg:mt-0 underline lg:float-right"
            href="/resume.pdf"
            text="View Full Resume">
            <OpenInNewTabIcon />
        </Link>
    </section>
</Layout>
