---
import Layout from "../layouts/Layout.astro";
import ExperienceTile from "../components/ExperienceTile.astro";
import ExperienceTileMobile from "../components/ExperienceTileMobile.astro";
import Link from "../components/Link.astro";
import OpenInNewTabIcon from "../components/OpenInNewTabIcon.astro";

const experiences = [
    {
        role: "Software Engineer",
        company: "Hubly",
        companyUrl: "https://www.myhubly.com/",
        from: "July 2022",
        to: "Present",
        skills: [
            "React",
            "Django",
            "GraphQL",
            "Python",
            "JavaScript",
            "AWS RDS",
            "AWS Cognito",
            "AWS Lambda",
        ],
    },
    {
        role: "Software Engineer",
        company: "BTG Pactual",
        companyUrl: "https://www.btgpactual.com/us/",
        from: "Jan 2022",
        to: "July 2022",
        skills: [
            "Angular",
            ".NET",
            "TypeScript",
            "AWS SQS",
            "AWS SNS",
            "AWS Lambda",
        ],
    },
    {
        role: "Software Engineer",
        company: "DTI Digital",
        companyUrl: "https://www.dtidigital.com.br/en",
        from: "July 2021",
        to: "Jan 2022",
        skills: ["React", "TypeScript", "PostgreSQL", "NestJS"],
    },
    {
        role: "Software Engineer",
        company: "Vallourec",
        companyUrl: "https://www.vallourec.com/",
        from: "Jan 2021",
        to: "July 2021",
        skills: ["C#", ".NET", "PostgreSQL"],
    },
    {
        role: "Software Engineer Intern",
        company: "Vallourec",
        companyUrl: "https://www.vallourec.com/",
        from: "Feb 2020",
        to: "Jan 2021",
        skills: ["C#", ".NET", "PostgreSQL"],
    },
];
---

<Layout
    title="Experience | Arthur Rodolfo"
    description="The personal site of Arthur Rodolfo">
    <section id="experience" aria-label="Work experience">
        <ol class="group/list flex flex-col gap-6 lg:mx-auto lg:w-3/4">
            {
                experiences.map((experience, idx) => {
                    return (
                        <>
                            <li class="lg:hidden">
                                <ExperienceTileMobile {...experience} />
                            </li>
                            <li class="hidden lg:list-item">
                                <ExperienceTile
                                    {...experience}
                                    showLine={idx < experiences.length - 1}
                                />
                            </li>
                        </>
                    );
                })
            }
        </ol>

        <Link
            classes="text-xs mt-6 lg:mt-0 underline lg:float-right"
            href="/resume.pdf"
            text="View Full Resume">
            <OpenInNewTabIcon />
        </Link>
    </section>
</Layout>
