---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout
    title="Arthur Rodolfo"
    description="The personal site of Arthur Rodolfo">
    <main class="p-6 lg:px-16">
        <section class="mb-6 flex flex-col gap-6 lg:flex-row lg:items-center">
            <div class="flex flex-col gap-2">
                <h1 class="text-center text-3xl font-bold lg:text-6xl">
                    Hello! My name is Arthur Rodolfo
                </h1>
                <p
                    class="items-center text-center text-slate-600 dark:text-slate-400 lg:text-xl">
                    I'm a Software Engineer from Brazil <Icon
                        name="twemoji:flag-for-brazil"
                        class="inline-block h-4 w-4"
                    /> who is currently based in Vancouver <Icon
                        name="twemoji:flag-for-canada"
                        class="inline-block h-4 w-4"
                    />
                </p>
            </div>

            <img
                class="mx-auto aspect-auto h-1/2 w-1/2 rounded-2xl shadow-md shadow-indigo-200 dark:shadow-indigo-900 lg:h-1/4 lg:w-1/4"
                src="src/assets/arthur.jpg"
                alt="Arthur Rodolfo picture"
            />
        </section>

        <section>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Pellentesque massa placerat duis ultricies lacus sed turpis
                tincidunt id. Dictum varius duis at consectetur lorem donec.
                Mauris rhoncus aenean vel elit scelerisque mauris pellentesque
                pulvinar. Ornare suspendisse sed nisi lacus sed viverra tellus
                in hac. Fermentum posuere urna nec tincidunt praesent semper
                feugiat. Metus dictum at tempor commodo. Vitae elementum
                curabitur vitae nunc sed velit dignissim sodales. Orci nulla
                pellentesque dignissim enim sit amet. Tincidunt id aliquet risus
                feugiat in ante metus dictum. Mauris pellentesque pulvinar
                pellentesque habitant morbi tristique senectus et. Maecenas
                volutpat blandit aliquam etiam erat velit scelerisque in dictum.
                Tellus mauris a diam maecenas. Donec ac odio tempor orci. Odio
                eu feugiat pretium nibh. Pharetra vel turpis nunc eget. Eget
                felis eget nunc lobortis mattis aliquam. Fusce ut placerat orci
                nulla. Et malesuada fames ac turpis egestas sed tempus.
                Convallis posuere morbi leo urna molestie at. Lobortis mattis
                aliquam faucibus purus in massa tempor nec feugiat. At urna
                condimentum mattis pellentesque id nibh. Sed enim ut sem viverra
                aliquet eget sit amet tellus. A cras semper auctor neque vitae
                tempus. Pulvinar etiam non quam lacus suspendisse faucibus
                interdum.
            </p>
        </section>
    </main>
</Layout>
