---
import Layout from "../layouts/Layout.astro";
import ProjectTile from "../components/ProjectTile.astro";

const projects = [
    {
        name: "arthurrodolfo.com",
        projectUrl: "https://github.com/Arthutu/site-arthur-rodolfo",
        description: "Personal site built with Astro and Tailwind CSS",
    },
];
---

<Layout
    title="Projects | Arthur Rodolfo"
    description="The personal site of Arthur Rodolfo">
    <section
        class="h-full"
        id="projects"
        aria-label="Arthur Rodolfo's Projects">
        <ul class="flex h-full w-full items-center justify-center">
            {
                projects.map((project) => {
                    return <ProjectTile {...project} />;
                })
            }
        </ul>
    </section>
</Layout>
