---
import { Icon } from "astro-icon/components";
---

<button aria-expanded="false" id="menu-button">
    <span class="sr-only">Menu</span>
    <Icon
        name="mdi:hamburger-menu"
        id="hamburger"
        class="h-6 w-6 dark:text-white"
    />
</button>
