---
import { Icon } from "astro-icon";
import Link from "../Link.astro";
---

<div class="inline-flex justify-between gap-2">
    <Link href="https://github.com/Arthutu">
        <span class="sr-only">Github</span>
        <Icon class="w-4 lg:w-6" name="mdi:github" />
    </Link>

    <Link href="https://www.linkedin.com/in/arthur-rodolfo/">
        <span class="sr-only">LinkedIn</span>
        <Icon class="w-4 lg:w-6" name="mdi:linkedin" />
    </Link>
</div>
