---
import { Icon } from "astro-icon";
import Link from "./Link.astro";

const currentYear = new Date().getFullYear();
---

<footer
    class="mt-auto flex flex-col items-center gap-4 border-t-[1px] border-gray-300 p-6 text-xs text-slate-600 dark:border-slate-700 dark:text-slate-400 lg:flex-row lg:justify-between">
    <p class="inline-flex gap-1">
        Developed with
        <Link text="Astro" href="https://astro.build/">
            <Icon class="w-3" name="simple-icons:astro" />
        </Link>

         &
        <Link text="Tailwind CSS" href="https://tailwindcss.com/">
            <Icon class="w-3" name="simple-icons:tailwindcss" />
        </Link>
    </p>

    <p>&copy; {currentYear} Arthur Rodolfo</p>

    <p class="ml-1">
        Hosted on
        <Link
            text="Vercel"
            href="https://vercel.com/"
            classes="items-baseline inline-flex gap-1">
            <Icon class="w-3" name="simple-icons:vercel" />
        </Link>
    </p>
</footer>
