---
import { Icon } from "astro-icon";
---

<button class="menu-button" aria-expanded="false">
    <span class="sr-only">Menu</span>
    <Icon
        name="mdi:hamburger-menu"
        id="hamburger"
        class="h-6 w-6 dark:text-white"
    />
</button>
