---
interface Props {
    text: string;
    href: string;
    classes?: string;
}

const { text, href, classes } = Astro.props;
---

<a
    href={href}
    class:list={["inline-flex gap-1 font-bold hover:text-indigo-200", classes]}
    target="_blank">
    {text}
    <slot />
</a>
