---
interface Props {
    href: string;
    text?: string;
    classes?: string;
}

const { text, href, classes } = Astro.props;
---

<a
    href={href}
    class:list={[
        "flex gap-1 font-bold hover:text-indigo-900 dark:hover:text-indigo-200",
        classes,
    ]}
    target="_blank">
    {text && text}
    <slot />
</a>
