---
const navItems: Array<{ href: string; text: string }> = [
    { href: "/", text: "About" },
    { href: "/experience", text: "Experience" },
    { href: "/projects", text: "Projects" },
];
---

<nav>
    <ul class="flex justify-center gap-2 max-xs:text-xs">
        {
            navItems.map(({ href, text }) => {
                return (
                    <li>
                        <a
                            href={href}
                            aria-current={Astro.url.pathname === href}
                            class:list={[
                                Astro.url.pathname === href
                                    ? [
                                          "border-b-2 border-indigo-200 dark:border-indigo-900",
                                      ]
                                    : [
                                          "text-slate-500 hover:border-b-2 hover:border-indigo-200 hover:dark:border-indigo-900",
                                      ],
                            ]}>
                            {text}
                        </a>
                    </li>
                );
            })
        }
    </ul>
</nav>
