---
import Link from "./Link.astro";
import OpenInNewTabIcon from "./OpenInNewTabIcon.astro";

interface Props {
    name: string;
    projectUrl: string;
    description: string;
}

const { name, projectUrl, description } = Astro.props;
---

<li
    id="videoContainer"
    class="relative rounded-3xl bg-indigo-50 p-6 hover:bg-indigo-100 hover:opacity-100 dark:bg-indigo-900/30 dark:hover:bg-indigo-900/50">
    <div class="relative aspect-[672/324] transform overflow-hidden rounded-md">
        <video
            class="absolute inset-0 h-full w-full [mask-image:radial-gradient(white,black)]"
            preload="none"
            playsinline
            poster="src/assets/arthur-site-cover.jpg">
            <source src="src/assets/arthur-site.mp4" type="video/mp4" />
        </video>
    </div>

    <div class="mt-6 flex flex-wrap items-center">
        <h2 class="text-sm font-semibold leading-6">
            <Link href={projectUrl} text={name}>
                <span class="absolute inset-0 rounded-3xl"></span>

                <OpenInNewTabIcon />
            </Link>
        </h2>

        <p
            class="w-full flex-none text-xs leading-6 text-slate-600 dark:text-slate-400">
            {description}
        </p>
    </div>
</li>

<script>
    const videoContainer = document.querySelector("#videoContainer");
    const video = document.querySelector("video");

    if (video && videoContainer) {
        videoContainer.addEventListener("mouseenter", () => {
            video.play();
        });

        videoContainer.addEventListener("mouseleave", () => {
            video.pause();
            video.currentTime = 0;
            video.load();
        });
    }
</script>
