---
import { Icon } from "astro-icon";
---

<div class="inline-flex justify-between gap-2">
    <a href="https://github.com/Arthutu" target="_blank">
        <Icon class="w-4" name="mdi:github" />
        <span class="sr-only">Github</span>
    </a>
    <a href="https://www.linkedin.com/in/arthur-rodolfo/" target="_blank">
        <Icon class="w-4" name="mdi:linkedin" />
        <span class="sr-only">LinkedIn</span>
    </a>
</div>
