---
import Footer from "../components/Footer.astro";
import Header from "../components/Header/Header.astro";
import { getLangFromUrl } from "../i18n/utils";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            property="og:description"
            content={description}
        />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body
        class="flex h-screen flex-col overflow-hidden bg-white text-black dark:bg-indigo-950 dark:text-white">
        <Header />
        <main class="h-full overflow-y-scroll p-6" tabindex="0">
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style is:global>
    ::selection {
        background-color: var(--highlight-background-color);
        color: var(--highlight-color);
    }
</style>

<script is:inline>
    const getThemePreference = () => {
        if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
        ) {
            return localStorage.getItem("theme");
        }

        return window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light";
    };

    const isDark = getThemePreference() === "dark";
    document.documentElement.classList[isDark ? "add" : "remove"]("dark");

    document.documentElement.style.setProperty(
        "--highlight-color",
        isDark ? "white" : "black"
    );
    document.documentElement.style.setProperty(
        "--highlight-background-color",
        isDark ? "rgb(49, 46, 129)" : "rgb(199, 210, 254)"
    );

    if (typeof localStorage !== "undefined") {
        const observer = new MutationObserver(() => {
            const isDark = document.documentElement.classList.contains("dark");
            localStorage.setItem("theme", isDark ? "dark" : "light");

            document.documentElement.style.setProperty(
                "--highlight-color",
                isDark ? "white" : "black"
            );
            document.documentElement.style.setProperty(
                "--highlight-background-color",
                isDark ? "rgb(49, 46, 129)" : "rgb(199, 210, 254)"
            );
        });

        observer.observe(document.documentElement, {
            attributes: true,
            attributeFilter: ["class"],
        });
    }
</script>
